{include file="public/header"}
<div class="banner">
    <img src="/public/static/index/images/contact_banner.gif" class="img-responsive">
</div>
<div class="main_body">
    <h2 class="en_title">CONTACT US</h2>
    <h2 class="cn_title"><a>{$Think.lang.contact_us}</a></h2>
    <section class="container" id="contact_detail">
        <div class="row">
            <div class="col-md-5">
                <img src="/public/static/index/images/{$Think.lang.route}">
            </div>
            <div class="col-md-7">
                <div id="address1">
                    <h3>{$Think.lang.haiyan}</h3>
                    <p>
                        {$Think.lang.yanhai_address}
                    </p>
                    <p>
                        {$Think.lang.yanhai_tel}
                    </p>
                    <p>
                        {$Think.lang.yanhai_fax}
                    </p>
                    <p>
                        {$Think.lang.yanhai_email}
                    </p>
                </div>
                <div id="address2">
                    <h3>{$Think.lang.shanghai}</h3>
                    <p>
                        {$Think.lang.shanghai_address}
                    </p>
                    <p>
                        {$Think.lang.shanghaai_tel}
                    </p>
                    <p>
                        {$Think.lang.shanghai_fax}
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>

{include file="public/footer"}