{include file="public/header"}
<div class="banner">
    <img src="/public/static/index/images/idea_banner.gif" class="img-responsive">
</div>
<div class="idea_brief_bg">
    <section class="container" id="about_brief">
        <div class="row">
            <h2 class="en_title">SERVICE PHILOSOHY</h2>
             <h2 class="cn_title"><a>{$Think.lang.service_concept}</a></h2>
            <div class="about_brief">
                {$Think.lang.service_concept_content}
            </div>
            <div class="about_brief_image">
                <img src="/public/static/index/images/{$Think.lang.idea}" class="img-responsive" style="display: inline">
            </div>
        </div>
    </section>
</div>
{include file="public/footer"}