{include file="public/header"}
<div class="banner">
    <img src="/public/static/index/images/service_banner.gif" class="img-responsive">
</div>
<div class="main_body">
    <h2 class="en_title">IMPORTS AND EXPORTS PROFILE</h2>
    <h2 class="cn_title"><a>{$Think.lang.zhongda_service}</a></h2>
    <section class="container border-bottom-gray" id="packing_supply">
        <div class="row">
            <div class="col-md-7">
                <h3 class="blue_title crossing_title" style="background-image:url(__INDEX__/images/pack.png)">{$Think.lang.integrated_supply}</h3>
                {$Think.lang.integrated_supply_content}
                <label class="blue_bg">{$Think.lang.all_packaging}</label>
                <label class="gray_bg">{$Think.lang.meet_the_supply}</label>
            </div>
            <div class="col-md-5 text-right" id="packing_supply_image">
                <img src="/public/static/index/images/{$Think.lang.serv1}">
            </div>
        </div>
    </section>
    <section class="container  border-bottom-gray" id="quality_control">
        <div class="row">
            <div class="col-md-12">
                <h3 class="blue_title crossing_title" style="background-image:url(__INDEX__/images/qulity.gif)">{$Think.lang.quality_control}</h3>
                {$Think.lang.quality_control_content}
            </div>
        </div>
    </section>
    <section class="container  border-bottom-gray" id="delivery_deadline_control">
        <div class="row">
            <div class="col-md-7">
                <h3 class="blue_title crossing_title" style="background-image:url(__INDEX__/images/jiaohuoqi.gif)">{$Think.lang.delivery_control}</h3>
                {$Think.lang.delivery_control_content}
                <p class="text-center"><img src="/public/static/index/images/{$Think.lang.serv21}"></p>
            </div>
            <div class="col-md-5 text-right" id="delivery_deadline_control_image">
                <img src="/public/static/index/images/{$Think.lang.serv2}">
            </div>
        </div>
    </section>
    <section class="container  border-bottom-gray" id="contract_execution_control">
        <div class="row">
            <div class="col-md-7">
                <h3 class="blue_title crossing_title" style="background-image:url(__INDEX__/images/hetong.gif)">{$Think.lang.contract_fulfillment_support}</h3>
                {$Think.lang.contract_support_content}            
            </div>
            <div class='col-md-5 text-right' id="contract_execution_control_image">
                <img src="/public/static/index/images/{$Think.lang.serv3}">
            </div>
        </div>
    </section>
    <section class="container  border-bottom-gray" id="document_audit">
        <div class="row">
            <div class="col-md-6">
                <h3 class="blue_title text-center"  style="background-image:url(__INDEX__/images/wenjian.gif);background-position-x: center">{$Think.lang.document_preparation}</h3>
                {$Think.lang.document_preparation_content}
            </div>
            <div class="col-md-6">
                <h3 class="blue_title text-center"  style="background-image:url(__INDEX__/images/gongcheng.gif);background-position-x: center">{$Think.lang.consumable_supplies}</h3>
                {$Think.lang.consumable_supplies_content}
            </div>
            <p class="text-center col-md-6"><img src="/public/static/index/images/{$Think.lang.serv22}"></p>
            <p class="text-center col-md-6"><img src="/public/static/index/images/{$Think.lang.serv23}"></p>
        </div>
    </section>
    <section class="container  border-bottom-gray" id="storage_service">
        <div class="row">
            <div class="col-md-7">
                <h3 class="blue_title crossing_title"  style="background-image:url(__INDEX__/images/cangchu.gif)">{$Think.lang.storage_value}</h3>
                {$Think.lang.storage_value_content}
                <p class="text-left" style="margin-top: 4rem" id="storage_service_image0">
                    <img   src="/public/static/index/images/{$Think.lang.serv99}"></p>
            </div>
            <div class="col-md-5 text-right" id="storage_service_image">
                <img src="/public/static/index/images/{$Think.lang.serv4}">
            </div>
        </div>
    </section>
    <section class="container  border-bottom-gray" id="transportation_service">
        <div class="row">
            <div class="col-md-7">
                <h3 class="blue_title crossing_title"  style="background-image:url(__INDEX__/images/yunshu.gif)">{$Think.lang.logistic_service}</h3>
                {$Think.lang.logistic_service_content}
                <p class="text-center" style="margin-top: 4rem"><img src="/public/static/index/images/{$Think.lang.serv24}"></p>
            </div>
            <div class="col-md-5 text-right" id="transportation_service_image">
                <img src="/public/static/index/images/{$Think.lang.serv5}">
            </div>
        </div>
    </section>
    <section class="container  border-bottom-gray" id="repurchase_service">
        <div class="row">
            <div class="col-md-6">
                <h3 class="blue_title text-center"  style="background-image:url(__INDEX__/images/gouhui.gif);background-position-x: center">{$Think.lang.buy_back}</h3>
                {$Think.lang.buy_back_content}
            </div>
            <div class="col-md-6">
                <h3 class="blue_title text-center"  style="background-image:url(__INDEX__/images/shouhou.gif);background-position-x: center">{$Think.lang.sales_ervice}</h3>
                {$Think.lang.sales_ervice_content}
            </div>
            <p class="col-md-6 text-center"><img src="/public/static/index/images/{$Think.lang.serv25}"></p>
            <p class="col-md-6 text-center"><img src="/public/static/index/images/{$Think.lang.serv26}"></p>
        </div>
    </section>
</div>
{include file="public/footer"}