<div class="foot">
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-1 col-lg-6 col-md-6 col-sm-12 foot-nav clear index-sections">
                    <dl class="foot-dl">
                        <dt class="foot-dt">{$Think.lang.about_us}</dt>
                        <dd class="foot-dd">
                            <p><a>{$Think.lang.zhong_da_group}</a></p>
                            <p><a>{$Think.lang.import_and_export}</a></p>
                        </dd>
                    </dl>
                    <dl class="foot-dl">
                        <dt class="foot-dt">{$Think.lang.service_concept}</dt>
                    </dl>
                    <dl class="foot-dl">
                        <dt class="foot-dt">{$Think.lang.zhongda_service}</dt>
                    </dl>
                    <dl class="foot-dl">
                        <dt class="foot-dt">{$Think.lang.partners}</dt>
                    </dl>
                    <dl class="foot-dl">
                        <dt class="foot-dt">{$Think.lang.product_category}</dt>
                        <dd class="foot-dd">
                            <p><a>{$Think.lang.heavy_Industry}</a></p>
                            <p><a>{$Think.lang.light_Industry}</a></p>
                        </dd>
                    </dl>
                    <dl class="foot-dl">
                        <dt class="foot-dt">{$Think.lang.contact_us}</dt>
                    </dl>
                </div>
                <div class="link_info col-lg-3 col-md-3 col-sm-12">
                    <p>{$Think.lang.contact_number}</p>
                    <h4>+86-21-54152996</h4>
                    <div class="weixin">
                        <img src="/public/static/index/images/weicha.jpg" alt="">
                    </div>
                    <div class="link_way_footer">
                        <div class="fgz">
                            <a target="_blank" href="http://weibo.com/u/5483006682" target="_blank">
                                <img src="/public/static/index/images/fb1.png" alt="石特微博"></a>
                            <a target="_blank" href="javascript:void(0)">
                                <img src="/public/static/index/images/fb2.png" alt="石特微信">
                            </a>
                            <a target="_blank"
                                href="http://wpa.qq.com/msgrd?v=3&amp;uin=286329829&amp;site=qq&amp;menu=yes"
                                target="_blank">
                                <img src="/public/static/index/images/fb3.png" alt="在线咨询">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="foot-bot">
            {$Think.lang.copy_right}
        </div>
    </div>
</div>
<div id="hs-back-top" class="animated hs-hide"><i class="fa fa-angle-up"></i></div>
</body>

</html>
<script src="/public/static/index/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/static/index/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/static/index/js/bootsnav.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/static/index/js/wow.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/static/index/js/common.js" type="text/javascript" charset="utf-8"></script>
<script>
    $('.carousel').carousel({
        interval: 3000
    });

    $('#homePic').on('click', function () {
        $('#homePic').fadeOut(1500);
        $("#app").fadeIn(1500);
    })
</script>